# Instalación e importación

`conda install pandas`

o 

`pip install pandas`

Si estamos con Jupyter notebook (en Colab ya está instalada):

In [ ]:
!pip install pandas

Para importarla:

In [1]:
import pandas as pd

# Estructuras de datos: Series y DataFrames

Las estructuras fundamentales en Pandas son las `Series` y los `DataFrame`. 

Una `Series` is básicamente una columna, y un `DataFrame` una tabla multidimensional compuesta por una colección de Series, es decir, una matriz de datos. 

Los DataFrames y las Series son muy similares en cuanto a las operaciones que se pueden hacer con ambos.

## Series de Pandas

In [2]:
# Crear una Serie pasándole un array:
pd.Series([1,2,3]) # Me asocia cada elemento a un índice que empieza por cero.

0    1
1    2
2    3
dtype: int64

In [3]:
# Crear una Serie pasándole un rango:
pd.Series(range(20,30))

0    20
1    21
2    22
3    23
4    24
5    25
6    26
7    27
8    28
9    29
dtype: int64

In [4]:
# Modificar el índice al crear la Serie
pd.Series(range(20,25), index=['Primer dato','Segundo dato','Tercer dato','Cuarto dato','Quinto dato'])

Primer dato     20
Segundo dato    21
Tercer dato     22
Cuarto dato     23
Quinto dato     24
dtype: int64

### Atributos de una Serie

In [5]:
my_series=pd.Series(range(20,25), index=['Primer dato','Segundo dato','Tercer dato','Cuarto dato','Quinto dato'])

In [6]:
# Índices
my_series.index

Index(['Primer dato', 'Segundo dato', 'Tercer dato', 'Cuarto dato',
       'Quinto dato'],
      dtype='object')

In [7]:
# Valores
my_series.values

array([20, 21, 22, 23, 24])

In [8]:
# Tipo de datos
my_series.dtype

dtype('int64')

In [9]:
# Tamaño (número de elementos)
my_series.size

5

In [10]:
# Forma
my_series.shape

(5,)

### Acceder a los datos y filtrar

In [11]:
my_series[0:2] # dos primeras filas

Primer dato     20
Segundo dato    21
dtype: int64

In [12]:
my_series[-1] # última fila

24

In [13]:
my_series[[0,3,4]] # número especifico de filas

Primer dato    20
Cuarto dato    23
Quinto dato    24
dtype: int64

### Creando una Serie desde un diccionario

In [14]:
# Crear una Serie pasándole un diccionario con etiquetas y valores:
dict = {'a': 20, 'b': 30 , 'c': 90}
pd.Series(dict)

a    20
b    30
c    90
dtype: int64

In [15]:
# Otra forma de indexar (.iloc)
my_series.iloc[0:3]

Primer dato     20
Segundo dato    21
Tercer dato     22
dtype: int64

In [16]:
# Otra forma de indexar (.loc)
my_series.loc['Primer dato']

20

In [17]:
my_series.loc[['Primer dato','Segundo dato']]

Primer dato     20
Segundo dato    21
dtype: int64

In [18]:
# Fragmento de inicio
my_series.head() # por defecto 5

Primer dato     20
Segundo dato    21
Tercer dato     22
Cuarto dato     23
Quinto dato     24
dtype: int64

In [19]:
my_series.head(2) # se puede elegir cuántos mostrar

Primer dato     20
Segundo dato    21
dtype: int64

In [20]:
# Fragmento de fin
my_series.tail() # por defecto 5

Primer dato     20
Segundo dato    21
Tercer dato     22
Cuarto dato     23
Quinto dato     24
dtype: int64

### Operaciones lógicas

In [21]:
# Devuelve un booleano
my_series>22

Primer dato     False
Segundo dato    False
Tercer dato     False
Cuarto dato      True
Quinto dato      True
dtype: bool

In [22]:
# Indexar
my_series[my_series>22]

Cuarto dato    23
Quinto dato    24
dtype: int64

In [23]:
# Más operaciones
my_series[(my_series>23) |  (my_series==21) ]

Segundo dato    21
Quinto dato     24
dtype: int64

### Ordenación

In [24]:
# Por sus valores
my_series.sort_values()

Primer dato     20
Segundo dato    21
Tercer dato     22
Cuarto dato     23
Quinto dato     24
dtype: int64

In [25]:
# Por su índice
my_series.sort_index() # Si es un string ordena en orden alfabético

Cuarto dato     23
Primer dato     20
Quinto dato     24
Segundo dato    21
Tercer dato     22
dtype: int64

In [26]:
# No guarda
my_series

Primer dato     20
Segundo dato    21
Tercer dato     22
Cuarto dato     23
Quinto dato     24
dtype: int64

In [27]:
my_series.index=[2,5,1,10,3]
my_series

2     20
5     21
1     22
10    23
3     24
dtype: int64

In [28]:
# Ordenar por su índice (ahora numérico)
my_series.sort_index()

1     22
2     20
3     24
5     21
10    23
dtype: int64

### Contar los valores de una Serie

In [29]:
my_series2 = pd.Series([5,5, 3,6,5,2,8,3,8,7,6])
my_series2

0     5
1     5
2     3
3     6
4     5
5     2
6     8
7     3
8     8
9     7
10    6
dtype: int64

In [30]:
# Tabla de frecuencias
my_series2.value_counts()

5    3
3    2
6    2
8    2
2    1
7    1
dtype: int64

In [31]:
# Lista de valores únicos (sin repeticiones)
my_series2.unique()

array([5, 3, 6, 2, 8, 7])

In [32]:
# Número total de valores únicos
my_series2.nunique()

6

In [33]:
# Número de valores no nulos 
my_series2.count()

11

### Operaciones aritméticas

In [34]:
# Operaciones entre Series y escalares
my_series2 / 4

0     1.25
1     1.25
2     0.75
3     1.50
4     1.25
5     0.50
6     2.00
7     0.75
8     2.00
9     1.75
10    1.50
dtype: float64

In [35]:
# Operacione entre dos Series
my_series2 * (my_series2/2)

0     12.5
1     12.5
2      4.5
3     18.0
4     12.5
5      2.0
6     32.0
7      4.5
8     32.0
9     24.5
10    18.0
dtype: float64

### Exportación de Series

In [36]:
my_series=pd.Series(range(20,25), index=['Primer dato','Segundo dato','Tercer dato','Cuarto dato','Quinto dato'])

In [37]:
my_series

Primer dato     20
Segundo dato    21
Tercer dato     22
Cuarto dato     23
Quinto dato     24
dtype: int64

In [38]:
# Exportar una Serie a una lista
my_series.to_list()

[20, 21, 22, 23, 24]

In [39]:
# Exportar una Serie a un diccionario
my_series.to_dict() # Si el índice es string, lo ordena alfabéticamente

{'Cuarto dato': 23,
 'Primer dato': 20,
 'Quinto dato': 24,
 'Segundo dato': 21,
 'Tercer dato': 22}

In [40]:
# Exportar una Serie a un .csv
my_series.to_csv()

',0\nPrimer dato,20\nSegundo dato,21\nTercer dato,22\nCuarto dato,23\nQuinto dato,24\n'

In [41]:
# Exportar una Serie a un .json
my_series.to_json()

'{"Primer dato":20,"Segundo dato":21,"Tercer dato":22,"Cuarto dato":23,"Quinto dato":24}'

In [42]:
# Exportar una Serie a un DataFrame de Pandas
my_series.name = 'Variable' # le ponemos un nombre
my_series.to_frame()

              Variable
Primer dato         20
Segundo dato        21
Tercer dato         22
Cuarto dato         23
Quinto dato         24

## DataFrames de Pandas

### Crear un DataFrame en Pandas

In [43]:
# Creamos primero un diccionario 
dict = {'apples': [3, 2, 0, 1], 'oranges': [0, 3, 7, 2] }

In [44]:
# Creamos el DF
df = pd.DataFrame(dict)
df.head()

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

### Importar un DataFrame desde fuera

In [45]:
df = pd.read_csv('companies79.csv')

In [46]:
df.head()

,Unnamed: 0,V1,V2,V3,V4,V5,V6,V7,V8
0,1,BellAtlantic,19788,9084,10636,1092.9,2576.8,79.4,Communication
1,2,ContinentalTelecom,5074,2557,1892,239.9,578.3,21.9,Communication
2,3,AmericanElectricPower,13621,4848,4572,485.0,898.9,23.4,Energy
3,4,BrooklynUnionGas,1117,1038,478,59.7,91.7,3.8,Energy
4,5,CentralIllinoisPublicService,1633,701,679,74.3,135.9,2.8,Energy

In [47]:
df.tail(3)

,Unnamed: 0,V1,V2,V3,V4,V5,V6,V7,V8
76,77,RepublicAirlines,1286,1734,361,69.2,145.7,14.3,Transportation
77,78,TWA,2769,3725,663,208.4,12.4,29.1,Transportation
78,79,WesternAirLines,952,1307,309,35.4,92.8,10.3,Transportation

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  79 non-null     int64
 1   V1          79 non-null     object
 2   V2          79 non-null     int64
 3   V3          79 non-null     int64
 4   V4          79 non-null     int64
 5   V5          79 non-null     float64
 6   V6          79 non-null     float64
 7   V7          79 non-null     float64
 8   V8          79 non-null     object
dtypes: float64(3), int64(4), object(2)
memory usage: 5.7+ KB

### Características de un DataFrame

In [49]:
# Eliminar columnas
df=df.drop('Unnamed: 0',axis=1)
df

,V1,V2,V3,V4,V5,V6,V7,V8
0,BellAtlantic,19788,9084,10636,1092.9,2576.8,79.4,Communication
1,ContinentalTelecom,5074,2557,1892,239.9,578.3,21.9,Communication
2,AmericanElectricPower,13621,4848,4572,485.0,898.9,23.4,Energy
3,BrooklynUnionGas,1117,1038,478,59.7,91.7,3.8,Energy
4,CentralIllinoisPublicService,1633,701,679,74.3,135.9,2.8,Energy
...,...,...,...,...,...,...,...,...
74,IUInternational,999,1878,393,173.5,108.1,23.3,Transportation
75,PanAm,2448,3484,1036,48.8,257.1,25.4,Transportation
76,RepublicAirlines,1286,1734,361,69.2,145.7,14.3,Transportation
77,TWA,2769,3725,663,208.4,12.4,29.1,Transportation
78,WesternAirLines,952,1307,309,35.4,92.8,10.3,Transportation

In [50]:
# Descipción de variables numéricas
df.describe()

,V2,V3,V4,V5,V6,V7
count,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000
mean,5940.531646,4178.291139,3269.746835,268.289873,433.455696,37.597468
std,9156.784079,7011.633173,11303.545251,779.016787,1194.075802,64.504202
min,223.000000,176.000000,53.000000,3.100000,0.300000,0.600000
25%,1122.500000,815.500000,512.500000,54.850000,90.450000,3.950000
50%,2788.000000,1754.000000,944.000000,92.600000,135.900000,15.400000
75%,5802.000000,4563.500000,1961.500000,216.000000,356.850000,48.500000
max,52634.000000,50056.000000,95697.000000,6555.000000,9874.000000,400.200000

In [51]:
# Forma (filas x columnas)
df.shape

(79, 8)

In [52]:
# Número de elementos 
df.size

632

In [53]:
# Dimension (2D)
df.ndim

2

In [54]:
# Índices
df.index

RangeIndex(start=0, stop=79, step=1)

In [55]:
# Columnas
df.columns

Index(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8'], dtype='object')

In [ ]:
# Valores
# df.values

### Selección y filtrado

In [56]:
# Primera fila
df.iloc[0]

V1     BellAtlantic
V2            19788
V3             9084
V4            10636
V5           1092.9
V6           2576.8
V7             79.4
V8    Communication
Name: 0, dtype: object

In [57]:
# última fila
df.iloc[-1]

V1    WesternAirLines
V2                952
V3               1307
V4                309
V5               35.4
V6               92.8
V7               10.3
V8     Transportation
Name: 78, dtype: object

In [58]:
# Grupo de filas
df.iloc[0:5]

,V1,V2,V3,V4,V5,V6,V7,V8
0,BellAtlantic,19788,9084,10636,1092.9,2576.8,79.4,Communication
1,ContinentalTelecom,5074,2557,1892,239.9,578.3,21.9,Communication
2,AmericanElectricPower,13621,4848,4572,485.0,898.9,23.4,Energy
3,BrooklynUnionGas,1117,1038,478,59.7,91.7,3.8,Energy
4,CentralIllinoisPublicService,1633,701,679,74.3,135.9,2.8,Energy

In [59]:
# Salto de 10 en 10 en las filas
df.iloc[::10]

,V1,V2,V3,V4,V5,V6,V7,V8
0,BellAtlantic,19788,9084,10636,1092.9,2576.8,79.4,Communication
10,MesaPetroleum,1257,355,181,167.5,304.0,0.6,Energy
20,CaliforniaFirstBank,5401,550,376,25.6,37.5,4.1,Finance
30,Norwest,21419,2516,930,107.6,164.7,15.6,Finance
40,NCR,3940,4317,3940,315.2,566.3,62.0,HiTech
50,Turner,752,2149,101,11.1,15.2,2.6,Manufacturing
60,Ex-Cell-0,799,1140,683,57.6,89.2,15.4,Other
70,SupermarketsGeneral,1104,5123,910,63.7,133.3,48.5,Retail

In [60]:
# Acceso a columnas
df.loc[:,'V8'] # .loc también vale para acceder a filas. Ejemplo: df.loc[1]

0      Communication
1      Communication
2             Energy
3             Energy
4             Energy
           ...
74    Transportation
75    Transportation
76    Transportation
77    Transportation
78    Transportation
Name: V8, Length: 79, dtype: object

In [61]:
# Otra forma de acceder a columnas
df['V7']

0     79.4
1     21.9
2     23.4
3      3.8
4      2.8
      ...
74    23.3
75    25.4
76    14.3
77    29.1
78    10.3
Name: V7, Length: 79, dtype: float64

In [62]:
# Varias columnas
df[['V7','V8']]

      V7              V8
0   79.4   Communication
1   21.9   Communication
2   23.4          Energy
3    3.8          Energy
4    2.8          Energy
..   ...             ...
74  23.3  Transportation
75  25.4  Transportation
76  14.3  Transportation
77  29.1  Transportation
78  10.3  Transportation

[79 rows x 2 columns]

In [63]:
# Varias filas y columnas (subconjunto)
df.loc[5:10,['V7','V8']]

      V7      V8
5    6.2  Energy
6   10.8  Energy
7    6.4  Energy
8    1.6  Energy
9    4.6  Energy
10   0.6  Energy

In [64]:
# Cálculos con columnas de tipo string: valores únicos
df.loc[:,'V8'].unique()

array(['Communication', 'Energy', 'Finance', 'HiTech', 'Manufacturing',
       'Medical', 'Other', 'Retail', 'Transportation'], dtype=object)

In [65]:
# Cálculos con columnas de tipo numerico: cálculo de la media
df['V7'].mean()

37.59746835443038

### Selección en base a una condición

In [66]:
df['V7'] > 3

0      True
1      True
2      True
3      True
4     False
      ...
74     True
75     True
76     True
77     True
78     True
Name: V7, Length: 79, dtype: bool

In [67]:
df[df['V7'] > 3]

,V1,V2,V3,V4,V5,V6,V7,V8
0,BellAtlantic,19788,9084,10636,1092.9,2576.8,79.4,Communication
1,ContinentalTelecom,5074,2557,1892,239.9,578.3,21.9,Communication
2,AmericanElectricPower,13621,4848,4572,485.0,898.9,23.4,Energy
3,BrooklynUnionGas,1117,1038,478,59.7,91.7,3.8,Energy
5,ClevelandElectricIlluminating,5651,1254,2002,310.7,407.9,6.2,Energy
...,...,...,...,...,...,...,...,...
74,IUInternational,999,1878,393,173.5,108.1,23.3,Transportation
75,PanAm,2448,3484,1036,48.8,257.1,25.4,Transportation
76,RepublicAirlines,1286,1734,361,69.2,145.7,14.3,Transportation
77,TWA,2769,3725,663,208.4,12.4,29.1,Transportation
78,WesternAirLines,952,1307,309,35.4,92.8,10.3,Transportation

In [68]:
df[df['V7'] > 3].shape

(65, 8)

In [69]:
# Condición de pertenencia
mask = df['V8'].isin(['Finance','Tech','Energy'])

In [70]:
df[mask].head(2)

                      V1     V2    V3    V4     V5     V6    V7      V8
2  AmericanElectricPower  13621  4848  4572  485.0  898.9  23.4  Energy
3       BrooklynUnionGas   1117  1038   478   59.7   91.7   3.8  Energy

In [71]:
df_masked=df[mask]
df_masked.shape

(32, 8)

In [72]:
df_masked['V8'].unique()

array(['Energy', 'Finance'], dtype=object)

### Reordenar

In [73]:
# Reordenar columnas
df_reordered = df[['V8','V2','V3','V7','V4','V6','V5']]

In [74]:
df_reordered

                V8     V2    V3    V7     V4      V6      V5
0    Communication  19788  9084  79.4  10636  2576.8  1092.9
1    Communication   5074  2557  21.9   1892   578.3   239.9
2           Energy  13621  4848  23.4   4572   898.9   485.0
3           Energy   1117  1038   3.8    478    91.7    59.7
4           Energy   1633   701   2.8    679   135.9    74.3
..             ...    ...   ...   ...    ...     ...     ...
74  Transportation    999  1878  23.3    393   108.1   173.5
75  Transportation   2448  3484  25.4   1036   257.1    48.8
76  Transportation   1286  1734  14.3    361   145.7    69.2
77  Transportation   2769  3725  29.1    663    12.4   208.4
78  Transportation    952  1307  10.3    309    92.8    35.4

[79 rows x 7 columns]

### Modificar valores

In [75]:
# Antes de modificar hacemos una copia
df_mod = df.copy()
df_mod.equals(df)

True

In [76]:
df_mod.head(2)

                   V1     V2    V3     V4      V5      V6    V7             V8
0        BellAtlantic  19788  9084  10636  1092.9  2576.8  79.4  Communication
1  ContinentalTelecom   5074  2557   1892   239.9   578.3  21.9  Communication

In [77]:
# Corregir o cambiar valores
df_mod.loc[0,'V2']=0
df_mod.head(2)

                   V1    V2    V3     V4      V5      V6    V7             V8
0        BellAtlantic     0  9084  10636  1092.9  2576.8  79.4  Communication
1  ContinentalTelecom  5074  2557   1892   239.9   578.3  21.9  Communication

In [78]:
# Borrar 1 fila
df_mod.drop([0]).head(3)

                      V1     V2    V3    V4     V5     V6    V7             V8
1     ContinentalTelecom   5074  2557  1892  239.9  578.3  21.9  Communication
2  AmericanElectricPower  13621  4848  4572  485.0  898.9  23.4         Energy
3       BrooklynUnionGas   1117  1038   478   59.7   91.7   3.8         Energy

In [79]:
# Borrar varias filas
df_mod.drop([0,1,2,3,4,5]).head(3)

                  V1    V2    V3    V4     V5     V6    V7      V8
6  ColumbiaGasSystem  5835  4053  1601   93.8  173.8  10.8  Energy
7    FloridaProgress  3494  1653  1442  160.9  320.3   6.4  Energy
8         IdahoPower  1654   451   779   84.8  130.4   1.6  Energy

In [82]:
df_mod.shape[0]

79

In [83]:
# Insertar una columa nueva
import numpy as np
V9 = np.random.randint(11,20,size=df_mod.shape[0])
df_mod['V9']=V9
df_mod.head(2)

,V1,V2,V3,V4,V5,V6,V7,V8,V9
0,BellAtlantic,0,9084,10636,1092.9,2576.8,79.4,Communication,13
1,ContinentalTelecom,5074,2557,1892,239.9,578.3,21.9,Communication,18

In [84]:
# Borrar columnas
df_mod.drop(labels='V9', axis=1, inplace=True) # "inplace=True" es para que se guarde
df_mod.head(3)

,V1,V2,V3,V4,V5,V6,V7,V8
0,BellAtlantic,0,9084,10636,1092.9,2576.8,79.4,Communication
1,ContinentalTelecom,5074,2557,1892,239.9,578.3,21.9,Communication
2,AmericanElectricPower,13621,4848,4572,485.0,898.9,23.4,Energy

In [85]:
# Cambiar nombres de columnas
df_mod.rename(columns={'V1': 'var1', 'V2': 'var2'}).head(2)

                 var1  var2    V3     V4      V5      V6    V7             V8
0        BellAtlantic     0  9084  10636  1092.9  2576.8  79.4  Communication
1  ContinentalTelecom  5074  2557   1892   239.9   578.3  21.9  Communication

### Cadenas de texto en DataFrames

In [86]:
df_mod['V1']

0                     BellAtlantic
1               ContinentalTelecom
2            AmericanElectricPower
3                 BrooklynUnionGas
4     CentralIllinoisPublicService
                  ...
74                 IUInternational
75                           PanAm
76                RepublicAirlines
77                             TWA
78                 WesternAirLines
Name: V1, Length: 79, dtype: object

In [87]:
df_mod['V1'].str.upper()

0                     BELLATLANTIC
1               CONTINENTALTELECOM
2            AMERICANELECTRICPOWER
3                 BROOKLYNUNIONGAS
4     CENTRALILLINOISPUBLICSERVICE
                  ...
74                 IUINTERNATIONAL
75                           PANAM
76                REPUBLICAIRLINES
77                             TWA
78                 WESTERNAIRLINES
Name: V1, Length: 79, dtype: object

### Crear una nueva columna de tipo string en base a un subconjunto de una lista

In [88]:
paises = ["Afganistán","Albania","Alemania","Andorra","Angola","Antigua y Barbuda","Arabia Saudita","Argelia","Argentina","Armenia","Australia","Austria","Azerbaiyán","Bahamas","Bangladés","Barbados","Baréin","Bélgica","Belice","Benín","Bielorrusia","Birmania","Bolivia","Bosnia y Herzegovina","Botsuana","Brasil","Brunéi","Bulgaria","Burkina Faso","Burundi","Bután","Cabo Verde","Camboya","Camerún","Canadá","Catar","Chad","Chile","China","Chipre","Ciudad del Vaticano","Colombia","Comoras","Corea del Norte","Corea del Sur","Costa de Marfil","Costa Rica","Croacia","Cuba","Dinamarca","Dominica","Ecuador","Egipto","El Salvador","Emiratos Árabes Unidos","Eritrea","Eslovaquia","Eslovenia","España","Estados Unidos","Estonia","Etiopía","Filipinas","Finlandia","Fiyi","Francia","Gabón","Gambia","Georgia","Ghana","Granada","Grecia","Guatemala","Guyana","Guinea","Guinea ecuatorial","Guinea-Bisáu","Haití","Honduras","Hungría","India","Indonesia","Irak","Irán","Irlanda","Islandia","Islas Marshall","Islas Salomón","Israel","Italia","Jamaica","Japón","Jordania","Kazajistán","Kenia","Kirguistán","Kiribati","Kuwait","Laos","Lesoto","Letonia","Líbano","Liberia","Libia","Liechtenstein","Lituania","Luxemburgo","Madagascar","Malasia","Malaui","Maldivas","Malí","Malta","Marruecos","Mauricio","Mauritania","México","Micronesia","Moldavia","Mónaco","Mongolia","Montenegro","Mozambique","Namibia","Nauru","Nepal","Nicaragua","Níger","Nigeria","Noruega","Nueva Zelanda","Omán","Países Bajos","Pakistán","Palaos","Palestina","Panamá","Papúa Nueva Guinea","Paraguay","Perú","Polonia","Portugal","Reino Unido","República Centroafricana","República Checa","República de Macedonia","República del Congo","República Democrática del Congo","República Dominicana","República Sudafricana","Ruanda","Rumanía","Rusia","Samoa","San Cristóbal y Nieves","San Marino","San Vicente y las Granadinas","Santa Lucía","Santo Tomé y Príncipe","Senegal","Serbia","Seychelles","Sierra Leona","Singapur","Siria","Somalia","Sri Lanka","Suazilandia","Sudán","Sudán del Sur","Suecia","Suiza","Surinam","Tailandia","Tanzania","Tayikistán","Timor Oriental","Togo","Tonga","Trinidad y Tobago","Túnez","Turkmenistán","Turquía","Tuvalu","Ucrania","Uganda","Uruguay","Uzbekistán","Vanuatu","Venezuela","Vietnam","Yemen","Yibuti","Zambia","Zimbabue"]

In [89]:
idx = np.random.randint(0,len(paises),size=df_mod.shape[0])

In [91]:
len(paises)

195

In [90]:
idx

array([102, 186, 150, 147,  99, 177, 158,  33,  77, 165, 108,   1, 179,
        66, 109, 134, 123, 101,  55, 123,  36,  48, 189, 149, 186,  50,
       145, 175,  29, 176, 141,   6, 145, 126, 131, 100,  75, 145,  81,
        63,  92, 157, 144, 146, 167,  25, 119, 102,  63, 110, 103, 185,
        77,  56,  84,   5, 186,  66,  20,  36, 130, 151, 138, 147,  70,
       189, 147, 187, 104,  65,  55,  41,  50,  94,  63,  99, 129, 169,
       143])

In [92]:
paises=np.array(paises)
V9=paises[idx]

In [93]:
V9

array(['Liberia', 'Uruguay', 'Ruanda', 'República Democrática del Congo',
       'Lesoto', 'Togo', 'Santo Tomé y Príncipe', 'Camerún', 'Haití',
       'Somalia', 'Malasia', 'Albania', 'Trinidad y Tobago', 'Gabón',
       'Malaui', 'Palaos', 'Namibia', 'Líbano', 'Eritrea', 'Namibia',
       'Chad', 'Cuba', 'Venezuela', 'República Sudafricana', 'Uruguay',
       'Dominica', 'República de Macedonia', 'Tayikistán', 'Burundi',
       'Timor Oriental', 'Portugal', 'Arabia Saudita',
       'República de Macedonia', 'Nicaragua', 'Omán', 'Letonia',
       'Guinea ecuatorial', 'República de Macedonia', 'Indonesia',
       'Finlandia', 'Jordania', 'Santa Lucía', 'República Checa',
       'República del Congo', 'Suazilandia', 'Brasil', 'Mónaco',
       'Liberia', 'Finlandia', 'Maldivas', 'Libia', 'Uganda', 'Haití',
       'Eslovaquia', 'Irlanda', 'Antigua y Barbuda', 'Uruguay', 'Gabón',
       'Bielorrusia', 'Chad', 'Nueva Zelanda', 'Rumanía', 'Paraguay',
       'República Democrática del Congo', 'Granada', 'Venezuela',
       'República Democrática del Congo', 'Uzbekistán', 'Liechtenstein',
       'Francia', 'Eritrea', 'Colombia', 'Dominica', 'Kenia', 'Finlandia',
       'Lesoto', 'Noruega', 'Sudán del Sur', 'República Centroafricana'],
      dtype='<U31')

In [94]:
df_mod['V9']=V9
df_mod.head(2)

,V1,V2,V3,V4,V5,V6,V7,V8,V9
0,BellAtlantic,0,9084,10636,1092.9,2576.8,79.4,Communication,Liberia
1,ContinentalTelecom,5074,2557,1892,239.9,578.3,21.9,Communication,Uruguay

In [95]:
df_mod['V9'].unique()

array(['Liberia', 'Uruguay', 'Ruanda', 'República Democrática del Congo',
       'Lesoto', 'Togo', 'Santo Tomé y Príncipe', 'Camerún', 'Haití',
       'Somalia', 'Malasia', 'Albania', 'Trinidad y Tobago', 'Gabón',
       'Malaui', 'Palaos', 'Namibia', 'Líbano', 'Eritrea', 'Chad', 'Cuba',
       'Venezuela', 'República Sudafricana', 'Dominica',
       'República de Macedonia', 'Tayikistán', 'Burundi',
       'Timor Oriental', 'Portugal', 'Arabia Saudita', 'Nicaragua',
       'Omán', 'Letonia', 'Guinea ecuatorial', 'Indonesia', 'Finlandia',
       'Jordania', 'Santa Lucía', 'República Checa',
       'República del Congo', 'Suazilandia', 'Brasil', 'Mónaco',
       'Maldivas', 'Libia', 'Uganda', 'Eslovaquia', 'Irlanda',
       'Antigua y Barbuda', 'Bielorrusia', 'Nueva Zelanda', 'Rumanía',
       'Paraguay', 'Granada', 'Uzbekistán', 'Liechtenstein', 'Francia',
       'Colombia', 'Kenia', 'Noruega', 'Sudán del Sur',
       'República Centroafricana'], dtype=object)

In [96]:
# Reemplazar / remover espacios
df_mod['V9']=df_mod['V9'].str.replace(' ','_')

In [97]:
df_mod['V9'].unique()

array(['Liberia', 'Uruguay', 'Ruanda', 'República_Democrática_del_Congo',
       'Lesoto', 'Togo', 'Santo_Tomé_y_Príncipe', 'Camerún', 'Haití',
       'Somalia', 'Malasia', 'Albania', 'Trinidad_y_Tobago', 'Gabón',
       'Malaui', 'Palaos', 'Namibia', 'Líbano', 'Eritrea', 'Chad', 'Cuba',
       'Venezuela', 'República_Sudafricana', 'Dominica',
       'República_de_Macedonia', 'Tayikistán', 'Burundi',
       'Timor_Oriental', 'Portugal', 'Arabia_Saudita', 'Nicaragua',
       'Omán', 'Letonia', 'Guinea_ecuatorial', 'Indonesia', 'Finlandia',
       'Jordania', 'Santa_Lucía', 'República_Checa',
       'República_del_Congo', 'Suazilandia', 'Brasil', 'Mónaco',
       'Maldivas', 'Libia', 'Uganda', 'Eslovaquia', 'Irlanda',
       'Antigua_y_Barbuda', 'Bielorrusia', 'Nueva_Zelanda', 'Rumanía',
       'Paraguay', 'Granada', 'Uzbekistán', 'Liechtenstein', 'Francia',
       'Colombia', 'Kenia', 'Noruega', 'Sudán_del_Sur',
       'República_Centroafricana'], dtype=object)

### Datos de tipo fecha

In [98]:
# Generar fechas
from datetime import datetime, timedelta

inicio = datetime(2022,10,1)

lista_fechas = [(inicio + timedelta(days=d)).strftime("%Y-%m-%d") for d in range(df_mod.shape[0])] 

lista_fechas[0:5]

['2022-10-01', '2022-10-02', '2022-10-03', '2022-10-04', '2022-10-05']

In [99]:
len(lista_fechas)

79

In [100]:
df_mod['V10']=lista_fechas
df_mod.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10
0,BellAtlantic,0,9084,10636,1092.9,2576.8,79.4,Communication,Liberia,2022-10-01
1,ContinentalTelecom,5074,2557,1892,239.9,578.3,21.9,Communication,Uruguay,2022-10-02
2,AmericanElectricPower,13621,4848,4572,485.0,898.9,23.4,Energy,Ruanda,2022-10-03
3,BrooklynUnionGas,1117,1038,478,59.7,91.7,3.8,Energy,República_Democrática_del_Congo,2022-10-04
4,CentralIllinoisPublicService,1633,701,679,74.3,135.9,2.8,Energy,Lesoto,2022-10-05

In [101]:
df_mod['V10'].dtype

dtype('O')

In [102]:
# Convertir a tipo fecha: 
df_mod['V10']=pd.to_datetime(df_mod['V10'])
df_mod['V10']

0    2022-10-01
1    2022-10-02
2    2022-10-03
3    2022-10-04
4    2022-10-05
        ...
74   2022-12-14
75   2022-12-15
76   2022-12-16
77   2022-12-17
78   2022-12-18
Name: V10, Length: 79, dtype: datetime64[ns]

In [103]:
df_mod['Year']=df_mod['V10'].dt.year
df_mod['Month']=df_mod['V10'].dt.month
df_mod['Day']=df_mod['V10'].dt.day
df_mod

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,Year,Month,Day
0,BellAtlantic,0,9084,10636,1092.9,2576.8,79.4,Communication,Liberia,2022-10-01,2022,10,1
1,ContinentalTelecom,5074,2557,1892,239.9,578.3,21.9,Communication,Uruguay,2022-10-02,2022,10,2
2,AmericanElectricPower,13621,4848,4572,485.0,898.9,23.4,Energy,Ruanda,2022-10-03,2022,10,3
3,BrooklynUnionGas,1117,1038,478,59.7,91.7,3.8,Energy,República_Democrática_del_Congo,2022-10-04,2022,10,4
4,CentralIllinoisPublicService,1633,701,679,74.3,135.9,2.8,Energy,Lesoto,2022-10-05,2022,10,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,IUInternational,999,1878,393,173.5,108.1,23.3,Transportation,Finlandia,2022-12-14,2022,12,14
75,PanAm,2448,3484,1036,48.8,257.1,25.4,Transportation,Lesoto,2022-12-15,2022,12,15
76,RepublicAirlines,1286,1734,361,69.2,145.7,14.3,Transportation,Noruega,2022-12-16,2022,12,16
77,TWA,2769,3725,663,208.4,12.4,29.1,Transportation,Sudán_del_Sur,2022-12-17,2022,12,17
78,WesternAirLines,952,1307,309,35.4,92.8,10.3,Transportation,República_Centroafricana,2022-12-18,2022,12,18

In [104]:
# Convertir la fecha en el índice
df_mod=df_mod.reset_index().set_index('V10').sort_index()
df_mod.head(3)

,index,V1,V2,V3,V4,V5,V6,V7,V8,V9,Year,Month,Day
V10,,,,,,,,,,,,,
2022-10-01,0,BellAtlantic,0,9084,10636,1092.9,2576.8,79.4,Communication,Liberia,2022,10,1
2022-10-02,1,ContinentalTelecom,5074,2557,1892,239.9,578.3,21.9,Communication,Uruguay,2022,10,2
2022-10-03,2,AmericanElectricPower,13621,4848,4572,485.0,898.9,23.4,Energy,Ruanda,2022,10,3

In [105]:
df_mod.index.name='Date'
df_mod

,index,V1,V2,V3,V4,V5,V6,V7,V8,V9,Year,Month,Day
Date,,,,,,,,,,,,,
2022-10-01,0,BellAtlantic,0,9084,10636,1092.9,2576.8,79.4,Communication,Liberia,2022,10,1
2022-10-02,1,ContinentalTelecom,5074,2557,1892,239.9,578.3,21.9,Communication,Uruguay,2022,10,2
2022-10-03,2,AmericanElectricPower,13621,4848,4572,485.0,898.9,23.4,Energy,Ruanda,2022,10,3
2022-10-04,3,BrooklynUnionGas,1117,1038,478,59.7,91.7,3.8,Energy,República_Democrática_del_Congo,2022,10,4
2022-10-05,4,CentralIllinoisPublicService,1633,701,679,74.3,135.9,2.8,Energy,Lesoto,2022,10,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-14,74,IUInternational,999,1878,393,173.5,108.1,23.3,Transportation,Finlandia,2022,12,14
2022-12-15,75,PanAm,2448,3484,1036,48.8,257.1,25.4,Transportation,Lesoto,2022,12,15
2022-12-16,76,RepublicAirlines,1286,1734,361,69.2,145.7,14.3,Transportation,Noruega,2022,12,16
2022-12-17,77,TWA,2769,3725,663,208.4,12.4,29.1,Transportation,Sudán_del_Sur,2022,12,17
2022-12-18,78,WesternAirLines,952,1307,309,35.4,92.8,10.3,Transportation,República_Centroafricana,2022,12,18

In [106]:
# Seleccionar un grupo de filas en base a las fechas
df_mod['2022-10-03':'2022-10-11']

,index,V1,V2,V3,V4,V5,V6,V7,V8,V9,Year,Month,Day
Date,,,,,,,,,,,,,
2022-10-03,2,AmericanElectricPower,13621,4848,4572,485.0,898.9,23.4,Energy,Ruanda,2022,10,3
2022-10-04,3,BrooklynUnionGas,1117,1038,478,59.7,91.7,3.8,Energy,República_Democrática_del_Congo,2022,10,4
2022-10-05,4,CentralIllinoisPublicService,1633,701,679,74.3,135.9,2.8,Energy,Lesoto,2022,10,5
2022-10-06,5,ClevelandElectricIlluminating,5651,1254,2002,310.7,407.9,6.2,Energy,Togo,2022,10,6
2022-10-07,6,ColumbiaGasSystem,5835,4053,1601,93.8,173.8,10.8,Energy,Santo_Tomé_y_Príncipe,2022,10,7
2022-10-08,7,FloridaProgress,3494,1653,1442,160.9,320.3,6.4,Energy,Camerún,2022,10,8
2022-10-09,8,IdahoPower,1654,451,779,84.8,130.4,1.6,Energy,Haití,2022,10,9
2022-10-10,9,KansasPower&Light,1679,1354,687,93.8,154.6,4.6,Energy,Somalia,2022,10,10
2022-10-11,10,MesaPetroleum,1257,355,181,167.5,304.0,0.6,Energy,Malasia,2022,10,11